<header class={`bg-gray-900 sticky py-4 px-0 top-0 z-[99]`}>
  <div class="my-0 mx-auto max-w-[850px] py-0 px-6">
    <div class="flex flex-row items-center font-bold justify-between">
      <div>
        <a href="/" class="items-center no-underline"> wattanx</a>
      </div>
      <div class="items-center">
        <a href="/timeline" class="ml-6 cursor-pointer text-base no-underline">
          Timeline
        </a>

        <a href="/blog" class="ml-6 text-base cursor-pointer no-underline">
          Blog
        </a>
        <a href="/about" class="ml-6 text-base cursor-pointer no-underline">
          About
        </a>
      </div>
    </div>
  </div>
</header>
