---
import { CollectionEntry } from "astro:content";
import type { GetStaticPathsOptions, Page } from "astro";
import { generateOgp } from "scripts/ogp-generator";
import Card from "~/components/blog/Card.astro";
import SiteHeader from "~/components/shared/SiteHeader.astro";
import Layout from "~/layouts/Layout.astro";
import { getBlogs } from "~/utils/blog";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getBlogs();
  if (import.meta.env.PROD) {
    const options = posts.map((x) => ({
      title: x.data.title,
      url: `blog/${x.slug}` ?? "",
    }));
    await generateOgp(options);
  }
  return paginate(posts, { pageSize: 20 });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<"blog">>;
};
---

<Layout title="Blog｜wattanx">
  <SiteHeader />
  <main class="my-0 mx-auto max-w-[850px] py-0 px-6 min-h-screen">
    <div class="pt-11 pb-8 px-0">
      <h1
        class="font-bold text-4xl underline decoration-yellow-500 underline-offset-8"
      >
        Blog
      </h1>
    </div>
    <div class="grid grid-cols-1 gap-4">
      {
        page.data.map(({ data, slug }) => (
          <Card
            frontmatter={{
              title: data.title,
              description: data.description,
              date: data.date,
            }}
            url={`/blog/${slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
