---
import { Image } from "astro:assets";
import { SiteHeader } from "~/components/shared/SiteHeader";
import Layout from "~/layouts/Layout.astro";
import GhostImage from "../../public/images/wattanx-ghost-chuck.png";
---

<Layout title="404" noindex>
  <SiteHeader />
  <main class="container mx-auto min-h-[calc(100vh-176px)]">
    <div class="flex items-center justify-center flex-col space-y-4">
      <Image class="w-[320px] h-[320px]"
        width={620}
        height={620}
        src={GhostImage}
        alt="wattanx ghost"
      />
      <h1 class="text-4xl text-center">404</h1>
      <h2 class="text-2xl text-center">page not found</h2>
    </div>
  </main>
</Layout>
