---
import { Image } from "@astrojs/image/components";
import Layout from "~/layouts/Layout.astro";
import { NavigationButton } from "~/components/NavigationButton";
import MainVisual from "../../public/images/cat.png";
---

<Layout title="wattanx">
  <main class="flex-1 pt-28 overflow-x-hidden max-w-[60ch] m-auto">
    <section
      class="pt-11 px-0 container flex justify-center items-center flex-col"
    >
      <div class="flex max-w-[400px] container py-0 px-5 justify-center">
        <div
          class="flex justify-center items-center w-full relative rounded-[37px] border-[3px] py-8 border-white"
        >
          <div class="w-24 h-24 absolute top-[-70px]">
            <Image
              class="rounded-full"
              src={MainVisual}
              alt="wattanx"
              height="96"
              width="96"
            />
          </div>
          <div class="flex space-y-4 flex-col">
            <h1 class="text-5xl font-bold text-center p-2 text-white">
              wattanx
            </h1>
            <p class="text-xl font-medium text-center mt-3 text-white">
              Software Developer
            </p>
          </div>
        </div>
      </div>
      <div class="flex space-y-7 flex-col max-w-[400px] container p-5 mt-5">
        <NavigationButton
          href="/timeline"
          text="Timeline"
          borderColor="border-pink-500"
        />
        <NavigationButton
          href="/blog"
          text="Blog"
          borderColor="border-yellow-500"
        />
        <NavigationButton
          href="/about"
          text="About"
          borderColor="border-blue-500"
        />
      </div>
    </section>
  </main>
</Layout>
