---
import Layout from "~/layouts/Layout.astro";
import Card from "~/components/Card.astro";
import { getBlogs } from "~/utils/blog";

const posts = await getBlogs();
---

<Layout title="wattanx">
  <main class="mx-auto max-w-[692px] py-20 px-4">
    <h1>wattanx</h1>

    <section class="mt-12">
      <h2>Abount</h2>

      <p class="text-gray-400">
        I'm wattanx. A software developer based in Japan.
      </p>
    </section>

    <section class="mt-20">
      <h2>Projects</h2>

      <div class="grid grid-cols-1 gap-4 mt-4">
        <Card
          href="https://github.com/wattanx/wattanx-converter"
          title="wattanx-converter"
          description="wattanx-converter provides useful tools for Vue and Nuxt."
        />

        <Card
          href="https://github.com/nuxt/bridge"
          title="Nuxt Bridge"
          description="🌉 Experience Nuxt 3 features on existing Nuxt 2 projects"
        />

        <Card
          href="https://uilabs.wattanx.dev/"
          title="UILabs"
          description="A place to experiment with feel good UI"
        />
      </div>
    </section>

    <section class="mt-20">
      <h2>Blog</h2>

      <div class="grid grid-cols-1 gap-4 mt-4">
        {
          posts.map(({ data, slug }) => (
            <Card
              prefetch={true}
              href={`/blog/${slug}`}
              title={data.title}
              description={data.description}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
