---
import Layout from "~/layouts/Layout.astro";
import { SiteHeader } from "~/components/shared/SiteHeader";
import GitHubCard from "~/components/blog/GitHubCard.astro";
import ExternalLinkAlt from "~/components/icons/ExternalLinkAlt.astro";
import ArticleCard from "~/components/about/ArticleCard.astro";
import { getRepositoryInfo } from "~/framework/github/createClient";
import { getPosts, getOriginFromURL } from "~/utils/helper";
import { getWorks } from "~/utils/getWorks";
import { sanitize } from "~/utils/sanitize";

const works = await getWorks();
const job_description = sanitize(works.job_description);
---

<Layout title="Resume｜wattanx" noindex>
  <SiteHeader />
  <main class="my-0 mx-auto max-w-[850px] py-0 px-6 min-h-screen">
    <div class="pt-11 pb-8 px-0">
      <h1
        class="font-bold text-4xl underline decoration-orange-500 underline-offset-8"
      >
        Resume
      </h1>
    </div>
    <article class="contents" set:html={job_description} />
  </main>
</Layout>
<style is:global>
  .contents {
    font-size: 15px;
    @apply sm:text-base;
  }

  .contents h1,
  .contents h2,
  .contents h3,
  .contents h4 {
    @apply font-semibold mt-10 mb-1;
  }

  .contents h1 {
    @apply text-2xl;
  }

  .contents h2 {
    @apply text-xl text-orange-500;
  }

  .contents h3 {
    @apply text-lg;
  }

  .contents h4 {
    @apply text-base;
  }

  .contents ul {
    @apply list-disc pl-4 my-2;
  }
  .contents li > ul {
    @apply my-0;
  }

  .contents p {
    @apply my-4;
  }

  .contents a {
    @apply text-blue-600;
  }

  .contents strong {
    @apply font-bold;
  }
  .contents blockquote {
    @apply px-4 border border-gray-900 border-l-blue-300 border-l-2;
  }

  .contents code:not(pre > *) {
    @apply text-gray-400  bg-[#636e7b66] mx-1 px-1 rounded-md shadow-lg ring-white/5;
  }

  .contents pre {
    @apply p-4 text-sm rounded-lg my-4;
  }
</style>
