---
export interface Props {
  title: string;
  description: string;
  href: string;
  prefetch?: boolean;
}

const { href, title, description, prefetch = false } = Astro.props;
---

<a
  href={href}
  rel={prefetch ? "prefetch" : ""}
  class="hover:bg-[#222222] space-y-4 border-none rounded-lg px-3 py-2 -mx-3"
>
  <div class="space-y-1">
    <p class="">{title}</p>
    <p class="text-gray-400">
      {description}
    </p>
  </div>
</a>
