<footer class="p-7">
  <div class="flex justify-center items-center">
    <div class="flex flex-col space-y-4">
      <p class="text-sm pb-2 text-center">
        © {new Date().getFullYear()} wattanx
      </p>
      <p class="text-sm">
        This site uses Google Analytics.{` `}
        <a
          href="https://policies.google.com/technologies/partner-sites?hl=ja"
          target="_blank"
          rel="external noopener"
          class="underline"
        >
          See more details
        </a>
      </p>
    </div>
  </div>
</footer>
