---
import ArrowRight from "./icons/ArrowRight.astro";

export type NavigationButtonProps = {
  href: string;
  text: string;
  borderColor: string;
};

const { href, text, borderColor } = Astro.props;

const border = `border-[3px] border-solid ${borderColor}`;
---

<a
  class={`hover:underline text-white flex justify-center items-center cursor-pointer rounded-[92px] p-4 ${border}`}
  href={href}
  rel="prefetch"
>
  <div class="flex justify-between flex-row w-[172px] items-center">
    <h2 class="font-bold text-xl text-white">{text}</h2>
    <div></div>
    <ArrowRight className="text-white" />
  </div>
</a>
