---
type Props = {
  frontmatter: BlogFrontmatter;
  url: string;
};

const { frontmatter, url } = Astro.props;
const title = frontmatter.title;
const description = frontmatter.description;
const date = frontmatter.date;
---

<a
  href={url}
  class="hover:bg-gray-700 space-y-8 bg-gray-800 border-none rounded-lg p-4"
>
  <div class="space-y-2">
    <p class="font-bold text-xl">{title}</p>
    <p class="text-md">{description}</p>
  </div>
  <p>{date}</p>
</a>
